.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: .75rem;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  margin-bottom: 1rem;
  padding: 1rem;
}

mat-datepicker-toggle {
  margin-right: .3rem;
}

.datepicker {
  width: clamp(10rem, 50%, 20rem);
}
